.App {
    height: 100vh;
    background-color: #1D2128;
}

.conteudo {
    background-color: #1D2128;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
}

.background {
    height: calc(100vh - 52px);
    left: 0;
    position: absolute;
}

.info {
    color: #FFFFFF;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    width: 65%;
}

.area-de-busca {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
    width: 100%;
}

input {
    background: transparent;
    border: 1px solid #999999;
    border-radius: 22px;
    color: #FFFFFF;
    font-size: 18px;
    margin-right: 12px;
    min-width: 250px;
    padding: 10px;
    transition: .5s linear;
    width: 70%;
}

input:focus-visible {
    border: 1px solid #0f73ee;
    outline: 1px solid #0f73ee;
}

button {
    background: #2D333B;
    border: 1px solid #999999;
    border-radius: 22px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 50px;
    transition: .3s all ease-in-out;
}

button:hover {
    background: rgb(29, 34, 41);
    border: 1px solid #0f73ee;
}

.perfil {
    display: flex;
    font-family: 'Segoe UI', Roboto, 'Open Sans', sans-serif;
    margin: 40px 0;
}

.image-profile {
    border: 2px solid #E5E5E5;
    border-radius: 60px;
    height: 120px;
    margin-right: 32px;
    width: 120px;
}

.perfil h3 {
    color: #cccccc;
    font-family: 'Secular One', 'Segoe UI', Roboto, 'Open Sans', sans-serif;
    font-size: 24px;
}

.perfil span {
    color: #999999;
    display: block;
    font-family: 'Segoe UI', Roboto, 'Open Sans', sans-serif;
    font-size: 12px;
}

.perfil p {
    color: #999999;
    font-family: 'Segoe UI', Roboto, 'Open Sans', sans-serif;
    font-size: 13px;
    margin: 20px 0 0 0;
}

.titulo-repositorio {
    color: #FFFFFF;
    font-family: 'Segoe UI', Roboto, 'Open Sans', sans-serif;
    font-size: 40px;
    margin: 40px 0 50px;
    text-align: center;
}

.filtros {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 20px;
}

.filtro-ordenar-data {
    font-family: 'Secular One', 'Segoe UI', Roboto, 'Open Sans', sans-serif;
    font-size: 12px;
}

.filtro-ordenar-data label {
    display: block;
    margin: 0 0 10px 5px;
}

.custom-select {
	position: relative;
}

.custom-select select {
	appearance: none;
	-webkit-appearance: none;
	width: 100%;
    font-family: inherit;
	font-size: 12px;
	padding: 5px 40px 5px 10px;
	background-color: #2D333B;
	border: 1px solid #C4D1EB;
	border-radius: 12px;
	color: #FFFAFA;
	cursor: pointer;
	outline: none;
}

.custom-select select:focus {
	background: #2D333B;
	border: 1px solid #539BF5;
	border-radius: 12px;
}

.custom-select::after {
	content: "";
	position: absolute;
	pointer-events: none;
	top: 50%;
	right: 10px;
	transform: translate(0, -50%);
	width: 12px;
	height: 12px;
	background-color: #FFFAFA;
    border-radius: 12px;
	clip-path: polygon(50% 80%, 0 20%, 100% 20%);
}

.filtros button {
    border-radius: 12px;
    color: #FFFFFF;
    font-family: 'Secular One', 'Segoe UI', Roboto, 'Open Sans', sans-serif;
    font-size: 12px;
    padding: 5px 20px;
}

.filtros button:hover {
    background: rgb(29, 34, 41);
    border: 1px solid #ee730f;
    color: #ee730f;
}

/* MEDIAS */

@media screen and (min-width: 1478px) {
    .input {
        width: 80%;
    }
}

@media screen and (max-width: 1271px) {
    .info {
        width: 60%;
    }
}

@media screen and (max-width: 1080px) {
    .background {
        display: none;
    }

    .info {
        width: 80%;
        margin: 40px auto;
    }
}

@media screen and (max-width: 800px) {
    .area-de-busca {
        justify-content: flex-end;
    }

    input {
        width: 100%;
        margin: 0;
    }
}